!/src/config/lib/doka/

!/graphql/*.generated.ts
/graphql/schema/resolvers.generated.ts
/src/graphql/**/schema.ts
/.env.production.local
/commitlint.config.js
!/src/graphql/server/schema/resolvers.generated.ts
/src/graphql/server/schema/resolvers.generated.ts

!/src/graphql/server/schema/typeDefs.generated.ts
/src/graphql/server/schema/typeDefs.generated.ts

!/src/graphql/server/schema/types.generated.ts
/src/graphql/server/schema/types.generated.ts
/src/pages/frontend/

**/*.jsx
/src/graphql/client/gql/schema.ts
